* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.wrapper {
    width: 60%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #0080ff;
    border-radius: 20px;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.title-container h1 {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.title-container p {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    color: #0080ff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}